div.profile {
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
}

div.profile__sidebar {
  border-right: 2px solid #ced4da !important;
}

div.personal-data {
  width: 100%;
  margin: 0 6rem;
}

h1.personal-data__title {
  font-size: 1.8rem;
  font-weight: 400;
}

label.personal-data__subtitle {
  color: #757575;
  font-weight: 500;

  margin-bottom: 0.2rem;
}

.personal-data__form {
  border: 1px solid #ced4da;


  &:focus {
    border: none;
    box-shadow: 0 0 3px 2px rgba(77, 182, 172, 0.7);
  }
}
